<div class="container">
  <img url('home-tree.jpg')>
  <div class="home-container">
    <div class="home-title">
      <h1>PICK MY FRUITS</h1>
    </div>

      <p class="home-subtitle">Imagine your city as the biggest garden ever...</p>
      <p class="home-subtitle">What would you do?</p>
      <p class="btn first-choice-button">Go for picking!</p>
      <div>
        <p class="btn second-choice-button">Look for pickers</p>
      </div>

  </div>
</div>

