.home-container > .btn {
  height: 50px;
  width: 200px;
  }

.first-choice-button {
  background-color: rgb(69, 235, 169);
  color: white;
  font-weight: bold;
  border-radius: 50px;
}

.second-choice-button {
  color: rgb(69, 235, 169);
  font-weight: bold;
}
