.home-title {
  align-content: space-around;
  color: rgb(69, 235, 169);
  height: 20vh;
  font-weight: bold;
  font-size: 40px;
}

.home-subtitle {
  font-size: 20px;
  color: rgb(33, 171, 165);
  font-weight: bold;
}
